[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=1.4.2"
numpy = "~=1.22.3"
scipy = "~=1.8.0"
nltk = "~=3.7"
markupsafe = "~=2.0.1"
scikit-learn = "~=0.24.1"
flask = "~=1.1.4"
flasgger = "~=0.9.5"
matplotlib = "~=3.5.2"
tabulate = "~=0.8.9"
pyyaml = "~=6.0"
gdown = "~=4.4.0"
dvc = "~=2.11.0"

[dev-packages]
pytest = "~=7.1.2"
dslinter = "~=2.0.8"
pylint = "~=2.12.2"
smelly-python = "*"

[requires]
python_version = "3.9"

[scripts]
pylint = "pylint src"
report = "smelly-python -d src"
test = "pytest test"
serve = "python -m src.serve_model"
create = "python -m src.create_model"
download_data = "python -m src.data.download_files"
